<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Home{% endblock %} | {{ open_mafia.name }}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/components-font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
        <div class="nav-side-menu">
            <div class="brand">{{ open_mafia.name }}</div>
            <div class="player-info">
                <strong>Cash:</strong> {{ app.user.location|money }} &bull; <strong>Rank:</strong> {{ app.user.rank|rank }} &bull; <strong>Location:</strong> {{ app.user.location|location }}
            </div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                    <li data-toggle="collapse" data-target="#general" class="collapsed">
                        <a href="#"><i class="fa fa-gift fa-lg"></i> General <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="general">
                        <li><a href="#">Game Forum</a></li>
                        <li><a href="#">O.C. Classifieds</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>

                    <li data-toggle="collapse" data-target="#statistics" class="collapsed">
                        <a href="#"><i class="fa fa-globe fa-lg"></i> Statistics <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="statistics">
                        <li><a href="#">Properties</a></li>
                        <li><a href="#">Networks</a></li>
                    </ul>

                    <li data-toggle="collapse" data-target="#personal" class="collapsed">
                        <a href="#"><i class="fa fa-globe fa-lg"></i> Personal <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="personal">
                        <li><a href="#">Inbox</a></li>
                        <li><a href="#">Send Message</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Notepad</a></li>
                        <li><a href="{{ path('profile_online') }}">Online Players</a></li>
                        <li><a href="#">Banking</a></li>
                        <li><a href="#">Hospital</a></li>
                    </ul>

                    <li data-toggle="collapse" data-target="#network" class="collapsed">
                        <a href="#"><i class="fa fa-globe fa-lg"></i> Network <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="network">
                        <li><a href="#">Network Forum</a></li>
                        <li><a href="#">Network Information</a></li>
                        <li><a href="#">Network HQ</a></li>
                    </ul>

                    <li data-toggle="collapse" data-target="#actions" class="collapsed">
                        <a href="#"><i class="fa fa-globe fa-lg"></i> Actions <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="actions">
                        <li><a href="#">Crimes</a></li>
                        <li><a href="#">GTA</a></li>
                        <li><a href="#">Booze</a></li>
                        <li><a href="#">Airport</a></li>
                        <li><a href="#">Most Wanted</a></li>
                        <li><a href="#">Jail</a></li>
                        <li><a href="#">Organized Crime</a></li>
                        <li><a href="#">Stores</a></li>
                        <li><a href="#">Bullets</a></li>
                    </ul>

                    <li data-toggle="collapse" data-target="#casino" class="collapsed">
                        <a href="#"><i class="fa fa-globe fa-lg"></i> Casino <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="casino">
                        <li><a href="#">Black Jack</a></li>
                        <li><a href="#">Racetrack</a></li>
                        <li><a href="#">Slots</a></li>
                        <li><a href="#">Roulette</a></li>
                        <li><a href="#">Lottery</a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="container" id="main">
            <div class="row">
                <div class="col-md-12">
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            {% if type == 'error' %} {% set type = 'danger' %} {% endif %}
                            <div class="alert alert-{{ type }}">
                                {{ message|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
